.l-header {
    background-color: $c-bleu-foncee;
    padding: 15px 0;
    @include respond-to(mobile) {
        padding: 12px 0;
    }
    .l-page-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-logo {
    @include respond-to(tablet) {
        width: 100px;
    }
    @include respond-to(mobile) {
        width: 60px;
    }
}

.header-right-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.navbar-toggle {
    display: none;
    position: relative;
    padding: 9px 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $c-gris-dark;
    background-image: none;
    .icon-bar {
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        background-color: $c-gris-pale;
        & + .icon-bar {
            margin-top: 4px;
        }
    }
    @include respond-to(tablet) {
        display: inline-block;
        margin-left: 25px;
    }
    @include respond-to(mobile) {
        display: inline-block;
        margin-left: 0;
    }
}


.header-slogan {
    text-align: right;
    @include respond-to(mobile) {
        display: none;
    }
}

.header-slogan-title {
    @include rem-typo(29px);
    color: #ffffff;
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    @include respond-to(tablet) {
        @include rem-typo(22px);
    }
}

.header-slogan-headlines {
    @include rem-typo(22px);
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    @include respond-to(tablet) {
        @include rem-typo(16px);
    }
}
