<header class="l-header">
    <div class="l-page-wrapper">
        <div class="header-logo">
            <img src="img/logo.png" alt="L'écriteau">
        </div>
        <div class="header-right-wrapper">
            <div class="header-mobile-trigger">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="visuallyhidden">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="header-slogan">
                <h2 class="header-slogan-title">Clinique d’orthopédagogie</h2>
                <span class="header-slogan-headlines">Prévenir | Évaluer | Intervenir</span>
            </div>
        </div>
    </div>
</header>
{% include "partials/navigation-main.twig" %}
