<nav class="nav-main">
    <ul class="toplevel">
        <li class="toplevel-item">
            <a href="#mission" class="nav-main-link"><span>mission</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#services" class="nav-main-link"><span>services</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#clients" class="nav-main-link"><span>clientèle</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#team" class="nav-main-link"><span>équipe</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#jobs" class="nav-main-link"><span>emplois</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#locations" class="nav-main-link"><span>points de service</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#contact" class="nav-main-link"><span>contact</span></a>
        </li>
    </ul>
</nav>
