<nav class="nav-main">
    <ul class="toplevel">
        <li class="toplevel-item">
            <a href="#"><span>mission</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#"><span>services et clientèle</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#"><span>clientèle</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#"><span>équipe</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#"><span>emplois</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#"><span>points de service</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#"><span>contact</span></a>
        </li>
    </ul>
</nav>
