<nav class="nav-main">
    <ul class="toplevel">
        <li class="toplevel-item">
            <a href="#mission" class="nav-main-link"><span>Mission</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#services" class="nav-main-link"><span>Services</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#clients" class="nav-main-link"><span>Clientèle</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#games" class="nav-main-link"><span>Jeux éducatif</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#team" class="nav-main-link"><span>Équipe</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#jobs" class="nav-main-link"><span>Emplois</span></a>
        </li>
        <li class="toplevel-item">
            <a href="#locations" class="nav-main-link"><span>Points de services </span></a>
        </li>
        <li class="toplevel-item">
            <a href="#contact" class="nav-main-link"><span>Contact</span></a>
        </li>
    </ul>
</nav>
