<section class="home-contact is-blue-bg" id="contact">
    <div class="l-page-wrapper">
        <div class="home-contact-top home-section-top">
            <h2 class="dashed-title is-white">Contact</h2>
            <p>Pour toutes questions ou pour inscrire votre enfant à l’un de nos services, nous vous invitons à communiquer avec madame Anik Bois, orthopédagogue propriétaire,  par téléphone ou à l’aide du formulaire de demande d’information ci-dessous.</p>
            <p>Vous recevrez un appel téléphonique dans les 24 heures.</p>
        </div>
        <div class="home-contact-bottom home-section-bottom">
            <div class="home-contact-bottom-left">
                <div class="contact-icon-text is-adress">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-marker-small.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line is-bold">L’Écriteau</span>
                        <span class="new-line">3943 rue Edward-Staveley</span>
                        <span class="new-line">Québec, QC</span>
                        <span class="new-line">G1X 0A2</span>
                    </span>
                </div>
                <div class="contact-icon-text is-phone">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-phone.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line"><span class="id-wrapper">t.</span> <a href="tel:+4186593351">418-659-3351</a></span>
                    </span>
                </div>
            </div>
            <div class="home-contact-bottom-center">
                {% if success %}
                <p class="success-message">Message envoyé aves succès!</p>
                {% endif %}
                {% if errors %}
                <div class="errors-wrapper">
                <h3 class="main-error">Il y a des erreurs dans le formulaire.</h3>
                {% for error in errors %}
                    <p>{{error}}</p>
                {% endfor %}
                </div>
                {% endif %}
                <form action="#contact" method="POST" class="home-contact-form">
                    <div class="fields">
                        <div class="field">
                            <label for="nom" class="visuallyhidden">Nom</label>
                            <input placeholder="Nom" type="text" id="nom" class="nom" name="name" value="{{postContent["name"]}}">
                        </div>
                        <div class="field">
                            <label for="courriel" class="visuallyhidden">Courriel</label>
                            <input placeholder="Courriel" type="text" id="courriel" class="courriel" name="courriel" value="{{postContent["courriel"]}}">
                        </div>
                        <div class="field">
                            <label for="message" class="visuallyhidden">Message</label>
                            <textarea placeholder="Message" id="message" name="message">{{postContent["message"]}}</textarea>
                        </div>
                        <div class="submit-wrapper field">
                            <button class="btn-outline is-long is-white">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="home-contact-bottom-right">
                <div class="social-media-follow-wrapper">
                     <a class="social-media-follow-wrapper-link" href="https://www.facebook.com/Clinique-dorthop%C3%A9dagogie-L%C3%A9criteau-244668489208196/?fref=ts" target="_blank">
                        <div class="social-media-follow-icon">
                            <img src="img/icons/icon-fb.png" alt="" class="icon">
                        </div>
                        <span class="social-media-follow-text">
                                <span class="new-line">Suivez nous sur</span>
                                <span class="new-line is-bold">Facebook!</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
