<section class="home-clienteles is-grey-bg">
    <div class="l-page-wrapper">
        <div class="home-clienteles-top home-section-top">
            <h2 class="dashed-title">clientèle</h2>
            <p>Duis erat quam, varius sit amet iaculis malesuada, sagittis sed urna. Vestibulum mollis ac diam dignissim facilisis. Sed maximus nibh a nulla pulvinar sodales. Etiam interdum turpis vel ipsum vulputate, a interdum urna ornare. </p>
        </div>
        <div class="home-clienteles-bottom home-section-bottom">
            <div class="home-clienteles-bottom-item">
                <div class="icon-wrapper">
                    <img src="img/icons/icon-bulb.png" alt="">
                </div>
                <div class="title-wrapper">
                    <h3>Trouble déficitaire de l’attention avec ou sans hyperactivité (TDA/H)</h3>
                </div>
                <p>Donec convallis arcu vitae nunc semper, vel porta enim mollis. Morbi posuere leo ut nisi iaculis, nec feugiat sem efficitur. Donec quis dictum eros. Ut egestas tempor rutrum. </p>
            </div>
            <div class="home-clienteles-bottom-item">
                <div class="icon-wrapper">
                    <img src="img/icons/icon-book.png" alt="">
                </div>
                <div class="title-wrapper">
                    <h3>Difficultés <span class="clear-itself">d’apprentissage</span></h3>
                </div>
                <p>Donec convallis arcu vitae nunc semper, vel porta enim mollis. Morbi posuere leo ut nisi iaculis, nec feugiat sem efficitur. Donec quis dictum eros. Ut egestas tempor rutrum. </p>
            </div>
            <div class="home-clienteles-bottom-item">
                <div class="icon-wrapper">
                    <img src="img/icons/icon-math.png" alt="">
                </div>
                <div class="title-wrapper">
                    <h3>Troubles d’apprentisage: dyslexie, dysorthographie, dyspraxie, dyscalculie, SDNV</h3>
                </div>
                <p>Donec convallis arcu vitae nunc semper, vel porta enim mollis. Morbi posuere leo ut nisi iaculis, nec feugiat sem efficitur. Donec quis dictum eros. Ut egestas tempor rutrum. </p>
            </div>
        </div>
    </div>
</section>
