<section class="home-equipe" id="team">
    <div class="l-page-wrapper">
        <div class="home-equipe-top home-section-top">
            <h2 class="dashed-title">Équipe</h2>
            <p>L’Écriteau jouit d’une solide réputation auprès des établissements d’enseignement, des professionnels et des parents. Cela est rendu possible grâce au travail d’une équipe dynamique formée d’orthopédagogues passionnées par leur métier. </p>
        </div>
    </div>
    <div class="home-equipe-bottom">
        <div class="home-equipe-item">
            <img src="img/team/anik.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Anik Bois</h3>
                <span class="home-equipe-item-poste">Orthopédagogue propriétaire</span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement préscolaire et primaire</span>
                <span class="home-equipe-item-education">Deuxième cycle universitaire en adaptation scolaire </span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: préscolaire, primaire, 1<sup>er</sup> cycle du secondaire</span>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p1.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Valérie Larochelle</h3>
                <span class="home-equipe-item-poste">Orthopédagogue </span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement préscolaire et primaire</span>
                <span class="home-equipe-item-education">Diplôme Montessori AMI - 3 à 6 ans</span>
                <span class="home-equipe-item-education">Deuxième cycle universitaire en adaptation scolaire</span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: préscolaire, primaire, 1<sup>er</sup> cycle du secondaire</span>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p3.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Marie-Eve Jutras</h3>
                <span class="home-equipe-item-poste">Orthopédagogue </span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement en adaptation scolaire et sociale</span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: secondaire et collégial</span>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p6.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Vanessa Giguère</h3>
                <span class="home-equipe-item-poste">Orthopédagogue</span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement en adaptation scolaire et sociale</span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: préscolaire et primaire</span>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p4.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Dominique Normand</h3>
                <span class="home-equipe-item-poste">Orthopédagogue</span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement en adaptation scolaire et sociale</span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: primaire et secondaire</span>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p7.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Laurence Côté</h3>
                <span class="home-equipe-item-poste">Orthopédagogue</span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement en adaptation scolaire et sociale</span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: préscolaire, primaire, 1<sup>er</sup> cycle du secondaire</span>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p2.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Stéphanie Côté</h3>
                <span class="home-equipe-item-poste">Orthopédagogue</span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement en adaptation scolaire et sociale</span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: primaire et secondaire</span>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p5.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Valérie Auger </h3>
                <span class="home-equipe-item-poste">Orthopédagogue</span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement en adaptation scolaire et sociale</span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: secondaire</span>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p11.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Virginie Bérubé </h3>
                <span class="home-equipe-item-poste">Orthopédagogue</span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement en adaptation scolaire et sociale</span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: secondaire</span>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p9.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Ann-Julie Simard </h3>
                <span class="home-equipe-item-poste">Orthopédagogue</span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement en adaptation scolaire et sociale</span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: préscolaire, primaire, secondaire</span>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p10.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Lysanne Lachance Gariépy</h3>
                <span class="home-equipe-item-poste">Orthopédagogue</span>
                <span class="home-equipe-item-education">Baccalauréat en enseignement en adaptation scolaire et sociale</span>
                <span class="home-equipe-item-education">Microprogramme en sciences cognitives du langage</span>
                <span class="home-equipe-list-title">Clientèle&nbsp;: préscolaire et primaire</span>
            </div>
        </div>
        <div class="home-equipe-item is-empty">
             <img src="img/team/empty.jpg" class="home-equipe-item-img">
        </div>
    </div>
</section>
