<section class="home-services" id="services">
        <div class="l-page-wrapper">
            <div class="home-services-top home-section-top">
                <h2 class="dashed-title">Services</h2>
                <p>La recette de notre succès réside dans la qualité des services offerts à notre clientèle. </p>
            </div>
            <div class="home-services-bottom home-section-bottom">
                <div class="home-services-bottom-service">
                    <div class="title-wrapper">
                        <h3>Évaluation des difficultés d’apprentissage</h3>
                    </div>
                    <p>L’évaluation orthopédagogique permet de déterminer le profil scolaire de l’élève et de cibler ses difficultés d’apprentissage afin d’orienter la mise en place d’interventions optimales.  </p>
                </div>
                <div class="home-services-bottom-service">
                    <div class="title-wrapper">
                        <h3>Orthopédagogie clinique</h3>
                    </div>
                    <p>Un suivi régulier permet aux enfants et aux adolescents d’être soutenus dans leurs apprentissages et ainsi d’éviter les retards. Le rôle de l’orthopédagogue est de proposer à l’élève des stratégies d’apprentissage et des méthodes de travail efficaces afin de permettre à chacun d’atteindre son plein potentiel.</p>
                </div>
                <div class="home-services-bottom-service">
                    <div class="title-wrapper">
                        <h3>Rééducation des troubles spécifiques</h3>
                    </div>
                    <p>Les orthopédagogues de l’Écriteau offrent une aide précieuse aux enfants et aux adolescents qui vivent avec un trouble d'apprentissage. Elles interviennent de façon individuelle afin de rééduquer le trouble spécifique de l’élève.</p>
                </div>
                <div class="home-services-bottom-service">
                    <div class="title-wrapper">
                        <h3>Formations</h3>
                    </div>
                    <p>Les orthopédagogues de L’Écriteau offrent plusieurs services de formation continue aux établissements d’enseignement, aux intervenants en milieu scolaire et aux professionnels en pratique privée. </p>
                    <a target="_blank" href="pdfs/formations.pdf" class="btn-outline home-service-bottom-service-button">Liste des formations</a>
                </div>
            </div>
        </div>
</section>
