    <section class="home-emplois" id="jobs">
        <div class="l-page-wrapper">
            <div class="home-emplois-top home-section-top">
                <h2 class="dashed-title">Emplois</h2>
            </div>
            <div class="home-emplois-bottom home-section-bottom">
                <div class="home-emplois-left">
                    <img src="img/team/group.jpg" alt="">
                </div>
                <div class="home-emplois-right">
                    <p>La clinique d’orthopédagogie L’Écriteau est régulièrement à la recherche d'orthopédagogues pour réaliser plusieurs contrats au sein de ses différents points de services.</p>
                    <p>Nous recherchons des personnes dynamiques, expérimentées et soucieuses d’offrir un service d’exception à notre clientèle. Aider les jeunes à développer leur plein potentiel vous passionne? Vous êtes à l’aise d’échanger avec les parents pour les tenir au fait du cheminement de leur enfant?  Envoyez-nous votre curriculum vitae!</p>
                    <p>Pourquoi choisir de travailler à la clinique d’orthopédagogie L’Écriteau?  </p>
                    <ul>
                        <li>Mentorat offert gratuitement durant les premiers mois;</li>
                        <li>Équipe jeune et dynamique;</li>
                        <li>Locaux agréables, modernes et bien aménagés;</li>
                        <li>Matériel très abondant afin de favoriser des interventions diversifiées et stimulantes pour les enfants;</li>
                        <li>Programme de formation continue offert à toute l’équipe.</li>
                    </ul>
                </div>
            </div>
            <div class="home-emplois-ultimate-button">
                <a href="mailto:info@ecriteau.ca" class="btn-outline is-icon-button is-big">Envoyer votre cv</a>
            </div>
        </div>
    </section>
