<section class="home-slider">
    <div class="slider">
        <div class="slider-wrapper">
            <div class="slider-container clearfix">
                <div class="slide">
                    <img src="img/slider/slide1.jpg">
                </div>
                <div class="slide">
                    <img src="img/slider/slide2.jpg">
                </div>
                <div class="slide">
                    <img src="img/slider/slide3.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
