<section class="home-games" id="games">
        <div class="l-page-wrapper">
            <div class="home-section-top home-games-top">
                <h2 class="dashed-title">Jeux éducatifs</h2>
                <p>Cette année pour Noël, j’offre des jeux éducatifs</p>
                <p>Il me fait plaisir de vous présenter une sélection de jeux éducatifs qui vous permettront de participer au développement des habiletés scolaires de votre enfant à la maison. Afin de faciliter vos choix, les jeux ont été classés en fonction des habiletés et notions scolaires qu’ils sollicitent.</p>
                <a href="pdfs/depliant-jeux.pdf" class="home-games-link btn-outline is-long" target="_blank">Voir les jeux</a>
            </div>
        </div>
</section>
