<section class="home-mission" id="mission">
        <div class="l-page-wrapper">
            <div class="home-mission-top is-grey-bg home-section-top">
                <h2 class="dashed-title">Missions</h2>
                <p>Depuis près de 10 ans, la clinique d’orthopédagogie L’Écriteau s’est donnée pour mission d’aider les enfants à développer leur plein potentiel en leur offrant des services de qualité. </p>
                <h3>Pourquoi nous choisir ?</h3>
            </div>
        </div>
        <div class="home-mission-bottom">
            <div class="l-page-wrapper">
                <div class="home-mission-bottom-text">
                    <ul class="home-missions-bottom-text-list">
                        <li>Qualité des interventions</li>
                        <li>Service personnalisé</li>
                        <li>Milieu d’apprentissage stimulant</li>
                    </ul>
                </div>
            </div>
        </div>
</section>
