<section class="home-equipe" id="team">
    <div class="l-page-wrapper">
        <div class="home-equipe-top home-section-top">
            <h2 class="dashed-title">équipe</h2>
        </div>
    </div>
    <div class="home-equipe-bottom">
        <div class="home-equipe-item">
            <img src="img/team/anik.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Anik Bois</h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p1.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Valérie Larochelle</h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p3.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Marie-Ève Jutras</h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p6.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Vanessa Giguère</h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p4.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Dominique Normand</h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p2.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Stéphanie Côté</h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p7.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Laurence Côté</h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p5.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Valérie Auger </h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p11.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Virginie Bérubé </h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p9.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Ann-Julie Simard </h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item">
            <img src="img/team/p10.jpg" class="home-equipe-item-img">
            <div class="home-equipe-item-hover-content">
                <h3 class="home-equipe-item-title">Lysanne Lachance Gariépy</h3>
                <span class="home-equipe-item-poste">Othopédagogue propriétaire</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque nisi ac porta pretium. Fusce vel ipsum nisl. Mauris dictum nunc enim, in egestas sem sollicitudin sed. Vivamus eu risus id magna tincidunt congue a quis est. </p>
            </div>
        </div>
        <div class="home-equipe-item is-empty">
             <img src="img/team/empty.jpg" class="home-equipe-item-img">
        </div>
    </div>
</section>
