<section class="home-locations" id="locations">
    <div class="l-page-wrapper">
        <div class="home-locations-top home-section-top">
            <h2 class="dashed-title">Points de service</h2>
        </div>
    </div>
    <div class="home-locations-bottom">
        <div class="map1" data-icon="img/icons/icon-marker-map.png" data-icon-hover="img/icons/icon-marker-map-hover.png" data-icon-width="35" data-icon-height="50">
        </div>
        <div class="location-window-wrapper">
            <div class="location-window marker"  data-lat="46.761227" data-lng="-71.342796" data-title="L'écriteau" data-id="1">
                <h3>Clinique d'orthopédagogie L’Écriteau</h3>
                <span>Clinique Cap-Rouge</span>
                <div class="contact-icon-text is-adress">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-marker-small.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line is-bold">L'Écriteau</span>
                        <span class="new-line">3943 rue Edward-Staveley</span>
                        <span class="new-line">Québec, QC</span>
                        <span class="new-line">G1X 0A2</span>
                    </span>
                </div>
                <div class="contact-icon-text is-phone">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-phone.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line"><span class="id-wrapper">t.</span>418-659-3351</span>
                    </span>
                </div>
            </div>
            <div class="location-window marker"  data-lat="46.832421" data-lng="-71.350057" data-title="L'écriteau" data-id="2">
                <h3>Clinique d'orthopédagogie L’Écriteau</h3>
                <span>Clinique Lebourneuf</span>
                <div class="contact-icon-text is-adress">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-marker-small.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line is-bold">L'Écriteau</span>
                        <span class="new-line">9030, Boulevard de l'Ormière</span>
                        <span class="new-line">Québec, QC</span>
                        <span class="new-line">G2B 3K3</span>
                    </span>
                </div>
                <div class="contact-icon-text is-phone">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-phone.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line"><span class="id-wrapper">t.</span>418-659-3351</span>
                    </span>
                </div>
            </div>
            <div class="location-window marker"  data-lat="46.829832" data-lng="-71.316583" data-title="L'écriteau" data-id="3">
                <h3>Clinique d'orthopédagogie L’Écriteau</h3>
                <span>Académie Saint-louis - secondaire</span>
                <div class="contact-icon-text is-adress">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-marker-small.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line is-bold">Académie Saint-louis - secondaire</span>
                        <span class="new-line">1500, de la Rive Boisée Sud</span>
                        <span class="new-line">Québec, QC</span>
                        <span class="new-line">G2C 2B3</span>
                    </span>
                </div>
                <div class="contact-icon-text is-phone">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-phone.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line"><span class="id-wrapper">t.</span>418-659-3351</span>
                    </span>
                </div>
            </div>
            <div class="location-window marker"  data-lat="46.836489" data-lng="-71.318577" data-title="L'écriteau" data-id="4">
                <h3>Clinique d'orthopédagogie L’Écriteau</h3>
                <span>Académie Saint-louis -  préscolaire et primaire</span>
                <div class="contact-icon-text is-adress">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-marker-small.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line is-bold">Académie Saint-louis -  préscolaire et primaire</span>
                        <span class="new-line">2200, de la Rive Boisée Nord</span>
                        <span class="new-line">Québec, QC</span>
                        <span class="new-line">G2C 0J1</span>
                    </span>
                </div>
                <div class="contact-icon-text is-phone">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-phone.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line"><span class="id-wrapper">t.</span>418-659-3351</span>
                    </span>
                </div>
            </div>
            <div class="location-window marker"  data-lat="46.876737" data-lng="-71.243737" data-title="L'écriteau" data-id="5">
                <h3>Clinique d'orthopédagogie L’Écriteau</h3>
                <span>École Vision - Québec Nord</span>
                <div class="contact-icon-text is-adress">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-marker-small.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line is-bold">École Vision - Québec Nord</span>
                        <span class="new-line">650, avenue du Bourg-Royal</span>
                        <span class="new-line">Québec, QC</span>
                        <span class="new-line">G2L 1M8</span>
                    </span>
                </div>
                <div class="contact-icon-text is-phone">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-phone.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line"><span class="id-wrapper">t.</span>418-659-3351</span>
                    </span>
                </div>
            </div>
        </div>
        <button class="map-lock">
            <div class="map-lock-content">
                <img src="img/icons/icon-locked.png" alt="">
                <span>Cliquer pour déverouiller la carte</span>
            </div>
        </button>
    </div>
</section>
