<section class="home-slider">
    <div class="slider">
        <div class="slider-wrapper">
            <div class="slider-container clearfix">
                <div class="slide">
                    <img src="img/slider/v2/slide1.jpg">
                </div>
                <div class="slide">
                    <img src="img/slider/v2/slide2.jpg">
                </div>
                <div class="slide">
                    <img src="img/slider/v2/slide3.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="l-page-wrapper l-bulles-wrapper">
        <div class="bulle-wrapper bulle1">
            <div class="bulle bulle1">
                <span class="bulle-texte">Évaluer</span>
            </div>
        </div>
        <div class="bulle-wrapper bulle2">
            <div class="bulle bulle2">
                <span class="bulle-texte">Prévenir</span>
            </div>
        </div>
        <div class="bulle-wrapper bulle3">
            <div class="bulle bulle3">
                <span class="bulle-texte">Intervenir</span>
            </div>
        </div>
    </div>
</section>
