<section class="home-locations">
    <div class="l-page-wrapper">
        <div class="home-locations-top home-section-top">
            <h2 class="dashed-title">points de service</h2>
        </div>
    </div>
    <div class="home-locations-bottom">

    </div>
</section>
