<section class="home-mission" id="mission">
        <div class="l-page-wrapper">
            <div class="home-mission-top is-grey-bg home-section-top">
                <h2 class="dashed-title">missions</h2>
                <p>Duis erat quam, varius sit amet iaculis malesuada, sagittis sed urna. Vestibulum mollis ac diam dignissim facilisis. Sed maximus nibh a nulla pulvinar sodales. Etiam interdum turpis vel ipsum vulputate, a interdum urna ornare. </p>
            </div>
        </div>
        <div class="home-mission-bottom">
            <div class="l-page-wrapper">
                <div class="home-mission-bottom-text">
                    <ul class="home-missions-bottom-text-list">
                        <li>Expérience et qualité</li>
                        <li>Service personnalisé</li>
                        <li>Milieu d’appretissage</li>
                    </ul>
                </div>
            </div>
        </div>
</section>
