    <section class="home-emplois" id="jobs">
        <div class="l-page-wrapper">
            <div class="home-emplois-top home-section-top">
                <h2 class="dashed-title">emplois</h2>
            </div>
            <div class="home-emplois-bottom home-section-bottom">
                <div class="home-emplois-left">
                    <img src="img/team/group.jpg" alt="">
                </div>
                <div class="home-emplois-right">
                    <p>Sed ut ipsum non augue semper congue. Donec lacinia et sapien quis feugiat. Donec suscipit varius magna, vitae mollis quam feugiat in. Maecenas ornare nunc et maximus dignissim. Nam suscipit velit nunc, vitae condimentum felis commodo nec. Curabitur id porta lectus. Fusce nec felis sapien. Quisque pretium, nisi ut semper auctor, ligula tortor consequat nisl. orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum posuere turpis, at mollis nulla luctus at. Quisque in felis facilisis, hendrerit magna et, venenatis lacus. Nunc sit amet felis ante. Fusce iaculis sed turpis et ultrices. Aliquam volutpat metus risu.</p>
                    <p>Vestibulum faucibus diam et orci euismod tincidunt. Nulla posuere orci urna, consequat lobortis elit cursus id. Cras non velit estium, maximus mattis enim imperdiet. Aenean dignissim ipsum quis diam consectetur, eu vehicula neque ultricies. Nullam et egestas sapien. Quisque sagittis nulla eu neque feugiat pretium. Donec nec nisi efficitur arcu consectetur feugiat.</p>
                </div>
            </div>
            <div class="home-emplois-ultimate-button">
                <a href="#" class="btn-outline is-icon-button is-big">Envoyer votre cv</a>
            </div>
        </div>
    </section>
