<section class="home-locations" id="locations">
    <div class="l-page-wrapper">
        <div class="home-locations-top home-section-top">
            <h2 class="dashed-title">points de service</h2>
        </div>
    </div>
    <div class="home-locations-bottom">
        <div class="map1" data-icon="http://i.imgur.com/RxyLL8G.png" data-icon-hover="http://i.imgur.com/5IhkNXQ.png" data-icon-width="22" data-icon-height="28">
        </div>
        <div class="location-window-wrapper">
            <div class="location-window marker"  data-lat="46.761227" data-lng="-71.342796" data-title="L'écriteau" data-id="1">
                <h3>Clinique d’orhopédagogie L’écriteau</h3>
                <span>Centre Cap-Rouge</span>
                <div class="contact-icon-text is-adress">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-marker-small.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line is-bold">L’écriteau</span>
                        <span class="new-line">3943 rue Edward-Staveley</span>
                        <span class="new-line">Québec, QC</span>
                        <span class="new-line">G1X0A2</span>
                    </span>
                </div>
                <div class="contact-icon-text is-phone">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-phone.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line"><span class="id-wrapper">t.</span>418-589-9525</span>
                        <span class="new-line"><span class="id-wrapper">m.</span>418-589-4828</span>
                    </span>
                </div>
            </div>
            <div class="location-window marker"  data-lat="46.832421" data-lng="-71.350057" data-title="L'écriteau" data-id="2">
                <h3>Clinique d’orhopédagogie L’écriteau</h3>
                <span>Centre Neufchatel</span>
                <div class="contact-icon-text is-adress">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-marker-small.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line is-bold">L’écriteau</span>
                        <span class="new-line">9030, Boulevard de l'Ormière</span>
                        <span class="new-line">Québec, QC</span>
                        <span class="new-line">G2B 3K3</span>
                    </span>
                </div>
                <div class="contact-icon-text is-phone">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-phone.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line"><span class="id-wrapper">t.</span>418-589-9525</span>
                        <span class="new-line"><span class="id-wrapper">m.</span>418-589-4828</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
