<section class="home-services" id="services">
        <div class="l-page-wrapper">
            <div class="home-services-top home-section-top">
                <h2 class="dashed-title">services</h2>
                <p>Duis erat quam, varius sit amet iaculis malesuada, sagittis sed urna. Vestibulum mollis ac diam dignissim facilisis. Sed maximus nibh a nulla pulvinar sodales. Etiam interdum turpis vel ipsum vulputate, a interdum urna ornare. </p>
            </div>
            <div class="home-services-bottom home-section-bottom">
                <div class="home-services-bottom-service">
                    <div class="title-wrapper">
                        <h3>Évaluation des difficultés d’apprentissage</h3>
                    </div>
                    <p>Donec convallis arcu vitae nunc semper, vel porta enim mollis. Morbi posuere leo ut nisi iaculis, nec feugiat sem efficitur. Donec quis dictum eros. Ut egestas tempor rutrum. </p>
                </div>
                <div class="home-services-bottom-service">
                    <div class="title-wrapper">
                        <h3>Rééducation des troubles spécifiques</h3>
                    </div>
                    <p>Donec convallis arcu vitae nunc semper, vel porta enim mollis. Morbi posuere leo ut nisi iaculis, nec feugiat sem efficitur. Donec quis dictum eros. Ut egestas tempor rutrum. </p>
                </div>
                <div class="home-services-bottom-service">
                    <div class="title-wrapper">
                        <h3>Othopédagogie clinique</h3>
                    </div>
                    <p>Donec convallis arcu vitae nunc semper, vel porta enim mollis. Morbi posuere leo ut nisi iaculis, nec feugiat sem efficitur. Donec quis dictum eros. Ut egestas tempor rutrum. </p>
                </div>
                <div class="home-services-bottom-service">
                    <div class="title-wrapper">
                        <h3>Formations</h3>
                    </div>
                    <p>Donec convallis arcu vitae nunc semper, vel porta enim mollis. Morbi posuere leo ut nisi iaculis, nec feugiat sem efficitur. Donec quis dictum eros. Ut egestas tempor rutrum. </p>
                    <a href="/pdfs/formations.pdf" class="btn-outline home-service-bottom-service-button">Liste des formations</a>
                </div>
            </div>
        </div>
</section>
