<section class="home-locations">
    <div class="l-page-wrapper">
        <div class="home-locations-top home-section-top">
            <h2 class="dashed-title">points de service</h2>
        </div>
    </div>
    <div class="home-locations-bottom">
        <div class="map1" data-icon="http://i.imgur.com/RxyLL8G.png" data-icon-hover="http://i.imgur.com/5IhkNXQ.png" data-icon-width="22" data-icon-height="28">
            <div class="marker" data-lat="46.834742" data-lng="-71.297905" data-title="Libéo" data-id="13">
                <div class="marker-popup-content">
                    <span class="title">Libéo</span>
                    <span class="adress">5700, boul. des Galeries, Bureau 300, Québec QC G2K 0H5</span>
                </div>
            </div>
            <div class="marker" data-lat="46.834194" data-lng="-71.301401" data-title="Krispe kreme" data-id="14">
                <div class="marker-popup-content">
                    <span class="title">Krispe kreme</span>
                    <span class="adress">5700, boul. des Galeries, Bureau 300, Québec QC G2K 0H5</span>
                </div>
            </div>
        </div>
        <div class="location-window-wrapper">
            <div class="location-window">
                <h3>Clinique d’orhopédagogie L’écriteau</h3>
                <span>Centre Saint-Nicolas</span>
                <div class="contact-icon-text is-adress">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-marker-small.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line is-bold">L’écriteau</span>
                        <span class="new-line">1453, rue du Pont</span>
                        <span class="new-line">Québec, QC</span>
                        <span class="new-line">G2E 6L8</span>
                    </span>
                </div>
                <div class="contact-icon-text is-phone">
                    <div class="contact-icon-text-icon">
                        <img src="img/icons/icon-phone.png" alt="">
                    </div>
                    <span class="contact-icon-text-text">
                        <span class="new-line"><span class="id-wrapper">t.</span>418-589-9525</span>
                        <span class="new-line"><span class="id-wrapper">m.</span>418-589-4828</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
