<section class="home-clienteles is-grey-bg" id="clients">
    <div class="l-page-wrapper">
        <div class="home-clienteles-top home-section-top">
            <h2 class="dashed-title">Clientèle</h2>
            <p>L’équipe d’orthopédagogues de L’Écriteau possède une expertise variée permettant de répondre aux besoins d’une clientèle diversifiée. Nous intervenons auprès des enfants, des adolescents et des adultes qui éprouvent les difficultés suivantes : </p>
        </div>
        <div class="home-clienteles-bottom home-section-bottom">
            <div class="home-clienteles-bottom-item">
                <div class="icon-wrapper">
                    <img src="img/icons/icon-bulb.png" alt="">
                </div>
                <div class="title-wrapper">
                    <h3>Trouble déficitaire de l’attention avec ou sans hyperactivité (TDA/H)</h3>
                </div>
                <ul>
                    <li>Rééducation des fonctions exécutives</li>
                    <li>Organisation et méthodes de travail</li>
                    <li>Enseignement de stratégies de compensation aux difficultés attentionnelles et organisationnelles</li>
                </ul>
            </div>
            <div class="home-clienteles-bottom-item">
                <div class="icon-wrapper">
                    <img src="img/icons/icon-book.png" alt="">
                </div>
                <div class="title-wrapper">
                    <h3>Difficultés <span class="clear-itself">d’apprentissage</span></h3>
                </div>
                <ul>
                    <li>Difficulté d’apprentissage en lecture et en écriture</li>
                    <li>Difficulté d’apprentissage en mathématique (résolution de problèmes)</li>
                    <li>Difficulté d’organisation et de méthodologie</li>
                </ul>
            </div>
            <div class="home-clienteles-bottom-item">
                <div class="icon-wrapper">
                    <img src="img/icons/icon-math.png" alt="">
                </div>
                <div class="title-wrapper">
                    <h3>Troubles d’apprentisage (Dyslexie, etc)</h3>
                </div>
                <ul>
                    <li>Dyslexie</li>
                    <li>Dysorthographie</li>
                    <li>Dyspraxie</li>
                    <li>Dyscalculie</li>
                    <li>SDNV</li>
                    <li>Trouble du spectre de l’autisme</li>
                </ul>
            </div>
        </div>
    </div>
</section>
