<!DOCTYPE html>
<html lang="fr">
<head>

    <title>{{ title }}</title>

    <meta charset="UTF-8">

    <meta name="description" content="L’Écriteau est une clinique d’orthopédagogie de Québec. Ses orthopédagogues viennent en aide aux personnes qui ont des difficultés ou troubles d’apprentissage.">
    <meta name="dcterms.description" content="L’Écriteau est une clinique d’orthopédagogie de Québec. Ses orthopédagogues viennent en aide aux personnes qui ont des difficultés ou troubles d’apprentissage." />
    <meta name="keywords" content="" />

    <!-- Open Graph -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/img/slider/v2/slide1.jpg" />
    <meta property="og:url" content="http://orthopedagogielecriteau.ca/" />
    <meta property="og:description" content="L’Écriteau est une clinique d’orthopédagogie de Québec. Ses orthopédagogues viennent en aide aux personnes qui ont des difficultés ou troubles d’apprentissage." />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/favicon.png">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,700,600,300,500|Nunito' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link href='dist/css/main.css' rel='stylesheet' type='text/css'>

    <!-- Modernizr & Detectizr -->
    <script src="js/vendor/modernizr.min.js"></script>
    <script src="js/vendor/detectizr.min.js"></script>

</head>
<body>
    {% include "partials/header.twig" %}

    <!-- Content -->
    {% block page %}{% endblock %}

    {% include "partials/footer.twig" %}

    <!-- Vendors -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>

    <!-- Modules -->
    <script src="js/modules/jquery.slider.min.js"></script>
    <script src="js/modules/jquery.customMap.min.js"></script>
    <script src="js/modules/menu.js"></script>

    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45501671-5', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- Main file -->
    <script src="dist/js/scripts.js"></script>
</body>
</html>
