<!DOCTYPE html>
<html lang="fr">
<head>

    <title>{{ title }}</title>

    <meta charset="UTF-8">

    <meta name="description" content="">
    <meta name="dcterms.description" content="" />
    <meta name="keywords" content="" />

    <!-- Open Graph -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/favicon.png">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,700,600,300,500|Nunito' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link href='dist/css/main.css' rel='stylesheet' type='text/css'>

    <!-- Modernizr & Detectizr -->
    <script src="js/vendor/modernizr.min.js"></script>
    <script src="js/vendor/detectizr.min.js"></script>

    {# script "/js/vendor/bower/svg4everybody.js" #}

</head>
<body>
    {% include "partials/header.twig" %}

    <!-- Content -->
    {% block page %}{% endblock %}

    {% include "partials/footer.twig" %}

    <!-- Vendors -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>

    <!-- Modules -->
    <script src="js/modules/jquery.slider.min.js"></script>

    <!-- Main file -->
    <script src="dist/js/scripts.js"></script>
</body>
</html>
