.btn-outline {
    border: 1px solid $c-gris-dark;
    border-radius: 5px;
    @include rem-typo(15px);
    padding: 5px 10px;
    @include transition(all 600ms);
    background-color: transparent;
    &:hover {
        text-decoration: none;
        background-color: #d2dde4;
        @include transform(translateY(2px));
    }
    &.is-big {
        @include rem-typo(22px);
        font-weight: 500;
        padding: 10px 15px;
        border-width: 2px;
    }
    &.is-long {
        @include rem-typo(22px);
        padding: 5px 25px;
    }
    &.is-icon-button {
        padding-left: 75px;
        padding-right: 20px;
        background: url('../../img/icons/icon-mail.png') no-repeat left 15px center;
        &:hover {
            text-decoration: none;
            background-color: #d2dde4;
        }
    }
    &.is-white {
        border-color: #ffffff;
        color: #ffffff;
        &:hover {
            background-color: rgba(62,62,62,0.2);
            border-color: $c-gris-pale;
        }
    }
}
