.home-contact-top {
    p {
        color: #ffffff;
        font-weight: 500;
    }
}

.home-contact-bottom {
    display: flex;
    @include respond-to(mobile) {
        flex-direction: column;
    }
}

.home-contact-bottom-left {
    flex-basis: 33%;
    @include respond-to(mobile) {
        flex-basis: auto;
    }
}

.home-contact-bottom-right {
    flex-basis: 33%;
    display: flex;
    justify-content: center;
    @include respond-to(mobile) {
        flex-basis: auto;
    }
}

.home-contact-bottom-center {
    flex-basis: 33%;
    @include respond-to(mobile) {
        flex-basis: auto;
        margin: 25px 0 40px 0;
    }
}

.contact-icon-text {
    display: flex;
    align-items: flex-start;
    & + & {
        margin-top: 40px;
        @include respond-to(mobile) {
            margin-top: 20px;
        }
    }
}

.contact-icon-text-icon {
    flex-basis: 45px;
}

.contact-icon-text-text {
    color: #ffffff;
    font-weight: 500;
    @include rem-typo(18px);
    .id-wrapper {
        width: 30px;
        display: inline-block;
    }
    a {
        color: #ffffff;
    }
}

.field {
    input, textarea {
        width: 100%;
        @include rem-typo(24px);
        color: #ffffff;
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 5px 10px;
        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: #ffffff;
        }
        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #ffffff;
            opacity: 1;
        }
        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #ffffff;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #ffffff;
        }
    }
    textarea {
        height: 200px;
    }
    & + .field {
        margin-top: 20px;
    }
}

.submit-wrapper {
    display: flex;
    justify-content: flex-end;
    button {
        @include rem-typo(24px);
    }
}

.social-media-follow-wrapper-link {
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    @include transition(all 300ms);
    &:hover {
        @include transform(translateY(2px));
        text-decoration: none;
    }
}

.social-media-follow-text {
    margin-left: 10px;
    @include rem-typo(18px, 18px);
    span + span {
        margin-top: 5px;
    }
}

.errors-wrapper {
    background-color: #e26e67;
    padding: 10px;
    margin-bottom: 15px;
    p {
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 5px;
    }
    .main-error {
        color: #ffffff;
        margin-bottom: 8px;
        @include rem-typo(18px);
    }
}

.success-message {
    background-color: #71ba51;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}
