.nav-main {
    .toplevel {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        .toplevel-item {
            margin: 0 15px;
        }
        a {
            @include rem-typo(22px);
            font-weight: 500;
        }
    }
}
